name: Reusable Deploy
on: 
  workflow_call:
    inputs:
      artifact-name:
        description: Name of the artifact to deploy
        required: false
        default: dist
        type: string
    outputs:
      result:
        description: Information about the deployment
        value: ${{ jobs.deploy.outputs.outcome }}
    #secrets:
    #  SOME-SECRET:
    #    description: Secret example for deployment
    #    required: true
jobs:
  deploy:
    outputs:
      outcome: ${{ steps.set-result.outputs.step-result }}
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact-name }}
      - name: List files
        run: ls
      - name: Ouput information
        run: echo "Deploying & uploading to production..."
      - name: Set output
        id: set-result
        run: |
          echo "::set-output name=step-result::SUCCESS!" # this command is deprecated but still works, the new way is to use echo "step-result=SUCCESS!" >> $GITHUB_OUTPUT